.link {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px 15px 10px 15px;
  -webkit-box-shadow: 10px 10px 34px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 34px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 34px 0px rgba(0, 0, 0, 0.75);
}
.info {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.text-posts {
  margin: 0;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}
span::first-letter {
  font-size: 130%;
}
.userId {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 600;
}
.title {
  color: var(--text-color);
  font-weight: 400;
  font-size: 20px;
}
.description {
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  max-width: 1024px;
}
