:root {
  background-image: linear-gradient(
    to right,
    #873090,
    #bb2180,
    #e12565,
    #f64742,
    #f8710d
  );
  --text-color: #000000;
  --white-color: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
